@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(53, 41, 25);
    font-family: 'Nova Square', sans-serif;
}

h1{
    font-size: 60px;
    text-align: center;
}

h2{
    font-size: 40px;
    text-align: center;
    padding: 0px 0px 15px 1px;
}

.Contenedor1{
    height: 60%;
    width: 97%;
    margin: 10px 20px 10px 20px;
    background-color: rgb(255, 38, 0);
    border: 5px solid black;
    border-style: double;
    border-width: 10px;
    border-radius: 20px;
}

h3{
    font-size: 20px;
    padding: 0px 0px 10px 1px;
    text-align: center;
}

h4{
    margin: 0px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    background: none;
    text-align: center;
}

.Contenedor2{
    width: 80%;
    margin:50px 150px 150px 150px;
    height:500px;
    display: flex;
}

.caja{
    width: 20%;
    height: 100px;
    padding: 30px 0px 30px 0px;
    text-align: center;
    flex-grow: 1;
    background-color: rgb(158, 158, 180);
    border: 5px solid black;
    border-style: double;
    border-width: 10px;
    border-radius: 20px;
}

a{
    margin: 10px 10px 10px 10px;
    font-size: 20px;
    color:brown;
    float: left;
}

a:hover{
    background-position: center;
    background-color:rgb(180, 137, 137);
    border: 1px solid black;
    box-shadow: -10px 6px 1px 1px, 0 0 20px rgba(0, 0, 0, 00.2%);
}